* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans";
}
body {
  overflow-x: hidden;
}
.navbar {
  display: flex;
  height: 72px;
  padding: 0 6rem;
  width: 100%;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);
}
.navp {
  display: inline;
}
.navtxt {
  font-family: "IBM Plex Sans";
}
.navtxt a {
  text-decoration: none;
}
.searchbtn {
  width: 380px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #f2f2f2;
  border: none;
}
.searchbtn::placeholder {
  text-align: center;
  padding-left: 2rem;
}
.sbtn {
  transform: translateX(050px);
  background-color: #f2f2f2;
  color: #5c5c5c;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.grp-name {
  width: 100%;
  height: 440px;
  flex-shrink: 0;
  overflow: hidden;
}

.comp-sec {
  width: 100%;
  transform: translateX();
  background-size: cover;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.snav {
  margin-top: 2rem;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}
.txts {
  transform: translateX(-40px);
}
ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-bottom: 0;
  font-size: 16px;
  font-style: normal;
  align-items: center;
  font-weight: 400;
  line-height: normal;
}

.nof {
  color: #8a8a8a;
}

.focus {
  border-bottom: 1px solid black;
}

.inside-img {
  position: relative;
  transform: translate(180px, 200px);
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn-I {
  border: 0;
  color: #000;
  width: 133px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #edeef0;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.join {
  background-color: #2f6ce5;
  color: white;
}
.jn {
  display: flex;
  gap: 1rem;

  justify-self: flex-end;
}

.svg {
  margin-right: 0.6rem;
}

.iin {
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 0rem;
}

.img-po {
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 1rem;
}

.po {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #fff;
  padding-bottom: 1rem;
}
.alter:hover{
  cursor: pointer;
}
.write,
.nxtdetails {
  padding: 0 2rem;
}

.category {
  color: #000;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.on {
  display: flex;
}
.title {
  color: #000;
  font-family: IBM Plex Sans;
  overflow: hidden;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 134.167%; /* 29.517px */
  width: 70%;
  letter-spacing: 0.1rem;
}
.ns {
  display: flex;
}

.bl {
  color: #2f6ce5;
  display: none;
  font-size: 14px;
}

.content {
  color: #5c5c5c;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 134.167%; /* 25.492px */
}

.pers {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
  background: lightgray 50% / cover no-repeat;
}

.name,
.det {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.name {
  margin-left: 1rem;
}

.namet {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.namet,
.view {
  margin-top: 1rem;
}

.view {
  color: #525252;
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-weight: 500;
}

.nxtdetails {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.share {
  border-radius: 2px;
  height: 20px;
  padding: 0.1rem;
  background-color: #edeef0;
}
.vsvg {
  margin-right: 0.5rem;
}
.post {
  margin-bottom: 1rem;
  /* width: 692px; */
  flex-shrink: 0;
}

.flx {
  display: flex;
  gap: 5rem;
  align-items: center;
}
.post {
  margin-left: 1rem;
}
.flc {
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
.long {
  width: 90%;
  height: 100%;
  flex-shrink: 0;
  color: #e56135;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 140.4%; /* 18.252px */
  border-radius: 8px;
  border: 0.7px solid #a9aeb8;
  background: #fff;
  padding: 0.4rem 0;
}
.jfb {
  display: flex;
  justify-content: center;
}

.position {
  display: flex;
  gap: 3rem;
}

.job {
  max-width: 1000px;
}

.jb {
  margin-top: 0.5rem;
}

.cr {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.shapes {
  display: none;
}

.names {
  display: flex;
}
.details {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.fb {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.nxtdetails {
  padding-bottom: 1rem;
}
.p {
  border-radius: 4px;
  border: 0.8px solid #989899;
  background: #fff;
  color: #6a6a6b;
  padding: 0 0.5rem;
  font-family: IBM Plex Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: none;
}

.ln {
  display: none;
}
.fault {
  transform: translateX(-19px);
}
.smol {
  display: none;
}
.smolbtn {
  display: none;
}
.arsgjo {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  display: none;
}
.sin,
.jgp {
  border-radius: 4px;
  border: 0.8px solid #fff;
  background-color: transparent;
  padding: 0.4rem;
  flex-shrink: 0;
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
}
.confirm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small {
  margin-left: 5rem;
  border-radius: 11px;
  margin-bottom: 2rem;
}
.con {
  color: #495057;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline #495057;
}
.c-acc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}
.small {
  max-width: 100%;
  background-color: white;
  border: 2px solid;
  transform: translateY(10px);
  display: none;
}
.inpu {
  width: 100%;
}
.term {
  text-align: center;
  color: #212529;
  font-family: IBM Plex Sans;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.088px;
}

.loc-inp {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  gap: 0.6rem;
}
.gp {
  margin-bottom: 0;
}
.locat {
  margin-top: 0.4rem;
}
.rec {
  color: #000;
  width: 700px;
  font-family: IBM Plex Sans;
  display: inline;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.4px;
  margin-bottom: 2rem;
}
.thumbs {
  margin-right: 1rem;
}
.sub {
  margin-top: 0.3rem;
  margin-right: 0.7rem;
}

.lst {
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.fbtn {
  border-radius: 14px;
  background: #000;
  padding: 0.1rem 1rem;
  color: #fff;
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-weight: 400;
}
.g1 {
  display: flex;
  gap: 1rem;
}
.nbtn {
  border-radius: 14px;
  border: 0;
  background: #edeef0;
  padding: 0.3rem 1rem;
  font-size: 12px;
}
.sbs {
  display: flex;
  justify-content: space-between;
}
.anc {
  color: #2f6ce5;
  text-align: right;
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.spn {
  color: #989899;
  font-family: IBM Plex Sans;
  font-size: 12px;
  font-weight: 400;
}
.recommend {
  display: flex;
  flex-direction: column;
}

.c-acc {
  margin-bottom: 0;
}
.ni {
  width: 130px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid;
}

.c1 {
  width: 36px;
  height: 36px;
  border-radius: 50px;
  flex-shrink: 0;
  margin-right: 1rem;
}

.lglogin {
  display: flex;
  border-radius: 11px;
  box-shadow: 2px 0px 10px 2px black;

  flex-direction: column;
  width: 100%;
  position: fixed;
  max-width: fit-content;
  background-color: #fff;
  top: 20;
  bottom: 0;
  left: 50;
  transform: translate(30%, -10%);
  display: none;
}

.getinp {
  display: flex;
  gap: 4rem;
  padding: 1rem 2rem;
  max-width: fit-content;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.ch-1 {
  margin-bottom: 0;
  width: 100%;
  color: #fff;
  padding: 0.5rem 0;
  font-size: 13px;
}
.alter {
  color: #495057;
  text-align: center;
  border-bottom: 1px solid #495057;
  font-family: IBM Plex Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.contents {
  border-radius: 8px 8px 0px 0px;
  background: #effff4;
  color: #008a45;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2rem;
  width: 899px;
}
.green {
  padding: 1rem 0;
}
.threedts {
  transition: all 0.4s;
}
.threedts:hover {
  background-color: #4950574a;
}
.cross {
  text-align: end;
  position: absolute;
  transform: translate(900px, -20px);
}
.titles {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
.n-i {
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #d9d9db;
  height: 46px;
  background: #f7f8fa;
}
.left-p {
  width: 388px;
}
.for {
  text-align: center;
  display: none;
  margin-bottom: 0;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.096px;
}
.crp {
  color: #2f6ce5;
  visibility: hidden;
}
.txt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.n-i::placeholder {
  padding-left: 1rem;
}
.b-t-n {
  border-radius: 20px;
  background: #2f6ce5;
  border: 0;
  margin-bottom: 2rem;
}
.left-p {
  display: flex;
  flex-direction: column;
}
.sl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  border-radius: 2px;
  border: 0.6px solid #d9d9db;
  background: #fff;
  padding: 0.5rem 0;
}
.or {
  margin-bottom: 0;
}
.crp {
  margin-bottom: 0;
}

.conts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
h6 {
  color: #3d3d3d;
}

.sg {
  color: #2f6ce5;
  margin-bottom: 0;
}
.sg:hover {
  cursor: pointer;
}
.hhh {
  width: 320px;
  height: 320px;
  padding: 1rem;
}

.tac {
  color: #5c5c5c;
  text-align: center;
  font-family: IBM Plex Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  letter-spacing: -0.088px;
}

.smlgn {
  width: 418px;
  /* width: 100%; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  transform: translate(40%, -90%);
  box-shadow: 2px 0px 10px 2px black;
  position: fixed;
  background-color: white;
  display: none;
  border-radius: 11px;
  z-index: 1;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mn {
  width: 150px;
}
.tacd {
  text-align: center;
}
.pencil {
  height: 24px;
  width: 24px;
  color: white;
  transform: translateX(-45px);
}
.edit {
  transform: translate(-5%, 10%);
  width: 100%;
  text-align: end;
  position: fixed;
  z-index: 999;
  margin-left: 1rem;
  display: none;
}
.posts {
  z-index: -1;
}
.col2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: -1;
  padding-top: 2rem;
}
.collection {
  display: flex;
  transform: translateX(-30px);
}
.imgs,
.heads,
.button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.options {
  display: flex;
  flex-direction: column;
}
.last {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 2rem;
  background-color: #fff;
  text-align: left;
  display: none;
  box-shadow: 0px 4px 12px 2px #525252;
  padding: 1rem;
  transform: translateX(-80px);
  border-radius: 8px;
}

/* Media query */

@media (max-width: 1100px) {
  .lglogin {
    transform: translate(5%, -10%);
  }
}
@media (max-width: 950px) {
  .inside-img {
    font-size: 25px;
    transform: translate(100px, 200px);
  }
  .edit {
    display: block;
  }
  .iin {
    font-size: 12px;
  }
  .category,
  .content {
    font-size: 14px;
  }
  .title {
    font-size: 16px;
  }
  .namet {
    margin: 0;
  }
  .ln {
    display: block;
    margin: 0;
    height: fit-content;
    width: fit-content;
  }
  .p {
    display: none;
  }
  .join {
    display: none;
  }
  .col2 {
    transform: translateX(100px);
  }
  .fault {
    height: 48px;
  }
  .view {
    display: none;
  }
  .lglogin {
    display: none;
  }
  .name {
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .sbs {
    display: flex;
    justify-content: space-between;
  }
  .side {
    display: inline;
  }
  .img {
    display: flex;
  }
  .det {
    margin: 0;
  }
  .snav {
    border: 0;
  }
  .anc {
    text-align: center;
    transform: translateY(-10px);
  }

  .srchbx {
    display: none;
  }
  .navtxt {
    display: none;
  }
  .shapes {
    display: block;
  }
  .focus {
    display: none;
  }
  .smol {
    display: block;
  }
  .nof {
    display: none;
  }

  .smolbtn {
    display: block;
  }
  .lgbtn {
    display: none;
  }
  .arsgjo {
    display: block;
    display: flex;
  }
  .posts {
    transform: translateX(0px);
  }
  .navbar {
    height: 40px;
  }
  .hide {
    display: none;
  }
}

@media (max-width: 900px) {
  .hide {
    display: none;
  }
}
@media (max-width: 600px) {
  
  .po {
    /* transform: translateX(-100px); */
    font-size: 12px;
  }
  
}
